<% if (messages) { %>
    <%= messages.success %>
        <%= messages.error %>
            <%}%>
                <div >
                    <h1 >index page</h1>
                    <nav>
                        <ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/secret">Secret page</a></li>
                        </ul>
                    </nav>
                </div>